<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="stylesheets/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="center-xs">
          <h2>Bienvenidos</h2>
    </div>
  </body>
</html>
